<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var tijuana = {lat: 32.50980556, lng: -117.11444444};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: tijuana
        });
        var marker = new google.maps.Marker({
          position: tijuana,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu7Hwq7jgsjGyFqDUPaOOtiogq1tJJsAo&callback=initMap">
    </script>
  </body>
</html>