<!DOCTYPE html>
<html>
  <head>
    <title>PFEA Water Quality Map</title>
    <style>
        body {
          margin: 0 auto;
        }

       #map {
        height: 100vh;
        width: 100%;
       }

      a[href^="http://maps.google.com/maps"]{display:none !important}
      a[href^="https://maps.google.com/maps"]{display:none !important}

      .gmnoprint a, .gmnoprint span, .gm-style-cc {
        display:none;
      }
      .gmnoprint div {
        background:none !important;
      } 
    </style>
  </head>
  <body>
    <a href="http://pfea.org" target="_blank"><img src="assets/logo.png" width="140" style="position: absolute; top: 10px; left: 10px; z-index: 9999"></a>

    <div id="map" style="z-index: 900"></div>
    <script>
      function initMap() {
        var markers = [
          {
            name: "Playas de Tijuana",
            pos: {lat: 32.517202, lng: -117.119909},
          },
          {
            name: "Rosarito Beach",
            pos: {lat: 32.364263, lng:-117.063413},
          },
          {
            name: "San Antonio del Mar",
            pos: {lat: 32.433887, lng:-117.099547},
          },
        ];
        
        var mapOptions = {
          zoom: 15,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          disableDefaultUI: true
        };
        var tijuana = {lat: 32.441964, lng: -117.089977};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: tijuana, 
          mapTypeControl: false,
          scrollwheel: false,
          fullscreenControl: false
        });
        for (var marker in markers) {
          marker = markers[marker];
          var info = '<div id="content">'+
              '<div id="siteNotice">'+
              '</div>'+
              '<h1 id="firstHeading" class="firstHeading">' + marker.name + '</h1>'+
              '<div id="bodyContent">'+
              '<p>Data here</p>'+
              '</div>'+
              '</div>';
          var infoWindow = new google.maps.InfoWindow({
            content: info
          });
          console.log(marker.pos);
          var _marker = new google.maps.Marker({
            position: marker.pos,
            map: map,
            title: marker.name,
          });
          _marker.addListener('click', function() {
            infoWindow.open(map, this);
          });
          _marker.addListener('mouseover', function() {
            infoWindow.open(map, this);
          });
          _marker.addListener('mouseout', function() {
            infoWindow.close();
          });
        };

        google.maps.event.addDomListener(window, 'resize', function() {
          map.setCenter(center);
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu7Hwq7jgsjGyFqDUPaOOtiogq1tJJsAo&callback=initMap">
    </script>
  </body>
</html>
