<!DOCTYPE html>
<html>

  <head>
    <title>PFEA Water Quality Map</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,600" rel="stylesheet">
    <link rel="icon" type="image/png" href="img/favicon.png" />
    <link href="css/watermap.css" rel="stylesheet">
  </head>

  <body>
    <!-- Logo -->
    <a href="http://pfea.org" target="_blank"><img src="assets/logo.png" width="140" style="position: absolute; top: 10px; left: 10px; z-index: 2"></a>

    <!-- Info Button / Legend -->
    <img src="img/info-button.svg" width="30" class="my_popup_open" style="position: absolute; bottom: 10px; left: 10px; z-index: 2; cursor: pointer;">

    <!-- Legend Content-->
    <div id="my_popup">
      <p class="my_popup_close">&times;</p>
      <h1 class="legend">Legend</h1>
      <p>
        <ul class="legend">
          <li id="green"><b>Clean</b><br>0 - 400 cfu/ml</li>
          <li id="yellow"><b>Fair</b><br>500 - 600 cfu/ml</li>
          <li id="orange"><b>Somewhat Polluted</b><br>700 - 900 cfu/ml</li>
          <li id="red"><b>Polluted</b><br>1000+ cfu/ml</li>
        </ul></p>
    </div>

    <!-- Map -->
    <div id="map" style="z-index: 1"></div>

    <script src="js/maps.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu7Hwq7jgsjGyFqDUPaOOtiogq1tJJsAo&callback=initMap">
    </script>
    <script src="https://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="https://cdn.rawgit.com/vast-engineering/jquery-popup-overlay/1.7.13/jquery.popupoverlay.js"></script>

    <script>
      $(document).ready(function() {
        $('#my_popup').popup({
          transition: 'all 0.3s'
        });
      });
    </script>

  </body>
</html>
